{% extends "/layouts/v3.html" %}

{% block beforeContent %}
  <div class="govuk-width-container ">

    <nav class="govuk-breadcrumbs govuk-!-display-none-print" aria-label="Breadcrumb">
      <a href="javascript:history.go(-1);" class="govuk-back-link">Back</a>
    </nav>

  </div>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">
        <span class="govuk-caption-l">Create an education support plan</span>

        {% set detailsHtml %}
          {{ govukTextarea({
            id: "san-"+v+"-create-examsassessments-details",
            name: "san-"+v+"-create-examsassessments-details",
            label: {
              text: "Add details"
            },
            hint: {
              text: "Highlight where there is a need for access arrangements in exams, or where an assessment has not yet taken place where an assessment for access arrangements will be required."
            },
            value: data["san-"+v+"-create-examsassessments-details"]
          }) }}
        {% endset -%}

        {{ govukRadios({
          name: "san-"+v+"-create-examsassessments",
          fieldset: {
            legend: {
              text: "Does Chris Atkinson need any access arrangements for exams or assessments?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: checked("san-"+v+"-create-examsassessments","Yes"),
              conditional: {
                html: detailsHtml
              }
            },
            {
              value: "No",
              text: "No",
              checked: checked("san-"+v+"-create-examsassessments","No")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
</div>

{% endblock %}
