.beta-feedback {
    background: #1d70b8;
    padding: 15px;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
* {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
