{% extends "/layouts/v3.html" %}

{% set currentpage = "overview" %}

{% block beforeContent %}
  <div class="govuk-width-container ">

    <nav class="govuk-breadcrumbs govuk-!-display-none-print" aria-label="Breadcrumb">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/{{ v }}/">Digital Prison Services</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/{{ v }}/san/">Support for additional needs</a>
        </li>
      </ol>
    </nav>

  </div>
{% endblock %}

{% block content %}

{% for prisoner in data['prisoners'] %}
  {% if prisoner.prisonerNumber == ref %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
  
    <!-- TITLE PAGE + print-->
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">{{ prisoner.firstName }} {{ prisoner.lastName }}'s support for additional needs</h1>
    </div>

    <div class="govuk-grid-column-full">

      {% if data['prevurl'] == "check-answers" %}
        {{ mojAlert({
          variant: "success",
          title: "Education suppport plan created",
          dismissible: false
        }) }}
      {% endif %}

      <!-- DPS MINI PROFILE -->
      <div class="govuk-!-margin-bottom-6">
        <div class="dps-mini-profile-header">
            <!--  <img class="app-prisoner-photo" src="/public/images/desmond-photo.jpg" alt="Prisoner image"> -->
            <dl>
              <dt class="govuk-heading-s govuk-!-margin-bottom-0">
                <a href="javascript:preventDefault();" class="govuk-link govuk-!-font-weight-bold">
                  {{ prisoner.lastName }}, {{ prisoner.firstName }}
                </a>
              </dt>
              <dd class="govuk-body">
                  {{ prisoner.prisonerNumber}}
              </dd>
            </dl>
            <dl>
              <dt class="govuk-heading-s govuk-!-margin-bottom-0">Entered this prison on</dt>
              <dd class="govuk-body">
                {{ prisoner.enteredPrison }}
              </dd>
            </dl>
            <dl>
              <dt class="govuk-heading-s govuk-!-margin-bottom-0">Release date</dt>
              <dd class="govuk-body">
                {{ prisoner.releaseDate }}
              </dd>
            </dl>
            <dl>
              <dt class="govuk-heading-s govuk-!-margin-bottom-0">DOB</dt>
              <dd class="govuk-body">
                {{ prisoner.dateOfBirth }}
              </dd>
            </dl>
        </div>
      </div>
      

    </div>
  
  </div>
  <div class="govuk-grid-row">

    <!-- TABS SUB NAVIGATION -->
    <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-margin-right-0">
      <div class="govuk-grid-column-full govuk-!-margin-left-0">
        <nav class="moj-sub-navigation govuk-!-display-none-print" aria-label="Sub navigation">
          <ul class="moj-sub-navigation__list ">

            <li class="moj-sub-navigation__item">
              {% if currentpage == "overview" %}
                <a class="moj-sub-navigation__link" aria-current="page" href="/{{ v }}/san/profile/{{ ref }}/">Overview</a>
              {% else %}
                <a class="moj-sub-navigation__link" href="/{{ v }}/san/profile/{{ ref }}/">Overview</a>
              {% endif %}
            </li>
            
            <li class="moj-sub-navigation__item">
              {% if currentpage == "additionalneeds" %}
              <a class="moj-sub-navigation__link" aria-current="page" href="#">Support strategies</a>
              {% else %}
              <a class="moj-sub-navigation__link" href="#">Support strategies</a>
              {% endif %}
            </li>

            <li class="moj-sub-navigation__item">
              {% if currentpage == "conditions" %}
                <a class="moj-sub-navigation__link" aria-current="page" href="#">Challenges</a>
              {% else %}
                <a class="moj-sub-navigation__link" href="#">Challenges</a>
              {% endif %}
            </li>

            <li class="moj-sub-navigation__item">
              {% if currentpage == "strengths" %}
                <a class="moj-sub-navigation__link" aria-current="page" href="#">Strengths</a>
              {% else %}
                <a class="moj-sub-navigation__link" href="#">Strengths</a>
              {% endif %}
            </li>

            <li class="moj-sub-navigation__item">
              {% if currentpage == "strengths" %}
                <a class="moj-sub-navigation__link" aria-current="page" href="#">Conditions</a>
              {% else %}
                <a class="moj-sub-navigation__link" href="#">Conditions</a>
              {% endif %}
            </li>
          
            <li class="moj-sub-navigation__item">
              {% if currentpage == "support-plan" %}
                <a class="moj-sub-navigation__link" aria-current="page" href="#">Education support plan</a>
              {% else %}
                <a class="moj-sub-navigation__link" href="#">Education support plan</a>
              {% endif %}
            </li>
            
          </ul>
        </nav>
      </div>
    </div>

  </div>

  <!--textarea rows="8" style="width: 700px; white-space:pre-wrap;">
  {{ prisoner | dump(2) }}
  </textarea-->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {# set tracker for categories prisoner has content it #}
        {% set cats = [] %}

        {# Check if prisoner has any recorded needs #}
        {%
          if prisoner.needsSupport
          or prisoner.needsChallenges 
          or prisoner.needsStrengths
        %}

          {# Loop through all categories of need #}
          {% for categories in data['categories'] %}

            {# Loop through all support needs of prisoner #}
            {% for needs in prisoner.needsSupport %}
              {# Check if needsSupport has an item in this category #}
              {% if needs.needsSupportCategory == categories.categoryName %}
                {# Add this category to an array of categories associated with this prisoner #}
                {% if not categories.categoryName in cats %}
                  {% set cats = (cats.push(categories.categoryName), cats) %}
                {% endif %}
              {% endif %}
            {% endfor %}

            {# Loop through all challenges of prisoner #}
            {% for needs in prisoner.needsChallenges %}
              {# Check if needsSupport has an item in this category #}
              {% if needs.needsChallengeCategory == categories.categoryName %}
                {# Add this category to an array of categories associated with this prisoner #}
                {% if not categories.categoryName in cats %}
                  {% set cats = (cats.push(categories.categoryName), cats) %}
                {% endif %}
              {% endif %}
            {% endfor %}

            {# Loop through all strengths of prisoner #}
            {% for needs in prisoner.needsStrengths %}
              {# Check if needsSupport has an item in this category #}
              {% if needs.needsStrengthCategory == categories.categoryName %}

                {# Add this category to an array of categories associated with this prisoner #}
                {% if not categories.categoryName in cats %}
                  {% set cats = (cats.push(categories.categoryName), cats) %}
                {% endif %}
              {% endif %}
            {% endfor %}

          {% endfor %}

          {% for cat in cats %}

            <section class="app-summary-card govuk-!-margin-bottom-6">
              <header class="app-summary-card__header">
                <h2 class="app-summary-card__title">
                  {{ cat }}
                </h2>
              </header>
              <div class="app-summary-card__body">
                <dl class="govuk-summary-list san-needs-list">
                
                  {% set countSup = 0 %}
                  {# Loop through all support needs of prisoner #}
                  <div class="govuk-summary-list__row san-needs-list-header">
                    <dt class="govuk-summary-list__key">
                      Support strategies
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <a href="/{{ v }}/san/{{ prisoner.prisonerNumber }}/support/add/category" class="govuk-body-s">Add support strategy</a>
                    </dd>
                  </div>
                  {% for needs in prisoner.needsSupport %}
                    {# Check if needsSupport has an item in this category #}
                    {% if needs.needsSupportCategory == cat %}
                      {% set countSup = countSup + 1 %}

                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                          {{ needs.needsSupportDescription | safe }}
                        </dt>
                        <dd class="govuk-summary-list__value">
                          <span class="govuk-body-s">Added {{ needs.needsSupportDate }} by {{ needs.needsSupportAuthor }}</span>
                        </dd>
                      </div>

                    {% endif %}
                  {% endfor %}

                  {% if countSup == 0 %}

                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                        None recorded
                      </dt>
                      <dd class="govuk-summary-list__value">
                      </dd>
                    </div>

                  {% endif %}
                
                  {% set countCha = 0 %}
                  {# Loop through all support needs of prisoner #}
                  {% for needs in prisoner.needsChallenges %}
                    {# Check if needsChallenges has an item in this category #}
                    {% if needs.needsChallengeCategory == cat %}
                      {% if countCha == 0 %}
                      <div class="govuk-summary-list__row san-needs-list-header">
                        <dt class="govuk-summary-list__key {% if countSup > 0 %}govuk-!-padding-top-6{% endif %}">
                          Challenges
                        </dt>
                        <dd class="govuk-summary-list__value">

                          <a href="/{{ v }}/san/{{ prisoner.prisonerNumber }}/challenges/add/category" class="govuk-body-s">Add challenge</a>

                        </dd>
                      </div>
                      {% endif %}
                      {% set countCha = countCha + 1 %}

                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                          {{ needs.needsChallengeDescription | safe }}
                        </dt>
                        <dd class="govuk-summary-list__value">

                          <span class="govuk-body-s">Added {{ needs.needsChallengeDate }} by {{ needs.needsChallengeAuthor }}</span>

                        </dd>
                      </div>
                  
                    {% endif %}
                  {% endfor %}
                
                  {% set countStr = 0 %}
                  {# Loop through all support needs of prisoner #}
                  {% for needs in prisoner.needsStrengths %}
                    {# Check if needsStrengths has an item in this category #}
                    {% if needs.needsStrengthCategory == cat %}
                      {% if countStr == 0 %}
                      <div class="govuk-summary-list__row san-needs-list-header">
                        <dt class="govuk-summary-list__key {% if countSup > 0 %}govuk-!-padding-top-6{% endif %}">
                          Strengths
                        </dt>
                        <dd class="govuk-summary-list__value">

                          <a href="/{{ v }}/san/{{ prisoner.prisonerNumber }}/strengths/add/category" class="govuk-body-s">Add strength</a>

                        </dd>
                      </div>
                      {% endif %}
                      {% set countStr = countStr + 1 %}

                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                          {{ needs.needsStrengthDescription | safe }}
                        </dt>
                        <dd class="govuk-summary-list__value">

                          <span class="govuk-body-s">Added {{ needs.needsStrengthDate }} by {{ needs.needsStrengthAuthor }}</span>

                        </dd>
                      </div>
                  
                    {% endif %}
                  {% endfor %}
                </dl>        

              </div>
            </section>
            {% set countSup = 0 %}
          {% endfor %}

        {% endif %}


      <!-- TABLE - Curious screener >

      <section class="app-summary-card govuk-!-margin-bottom-6">
        <header class="app-summary-card__header">
          <h2 class="app-summary-card__title">
            Screener and assessment results from Curious
          </h2>
        </header>

        <div class="app-summary-card__body">

          <p class="govuk-body govuk-hint">This is information from the education team entered in Curious and is not a medical diagnosis.</p>

          <h2 class="govuk-heading-m">Hull (HMP)</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-5">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Rapid screener from induction</dt>
              <dd class="govuk-summary-list__value">Not recorded in Curious</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">In-depth assessment by education </dt>
              <dd class="govuk-summary-list__value">Not recorded in Curious</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Primary area of need identified</dt>
              <dd class="govuk-summary-list__value">Speech, Language and communication  needs</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Other areas of need identified</dt>
              <dd class="govuk-summary-list__value">
                Dyslexia<br>
                Autism spectrum disorder
              </dd>
            </div>
          </dl>

          <h2 class="govuk-heading-m">Leeds (HMP)</h2>
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Rapid screener from induction</dt>
              <dd class="govuk-summary-list__value">3 December 2023</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">In-depth assessment by education </dt>
              <dd class="govuk-summary-list__value">3 December 2023</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Primary area of need identified</dt>
              <dd class="govuk-summary-list__value">Hearing impairment</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Other areas of need identified</dt>
              <dd class="govuk-summary-list__value">
                Disability affecting mobility<br>
                Social and emotional difficulties<br>
                Mental health difficulty
              </dd>
            </div>
          </dl>

        </div>
      </section>
      <!-- END TABLE - Curious screener -->

    </div>
    
    <div class="govuk-grid-column-one-third govuk-!-padding-left-5 govuk-!-margin-top-0">

      <div class="hmpps-actions-block govuk-!-margin-bottom-5">
        <ul class="hmpps-actions-block__list">

          <li class="noflex">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Education support plan</h3>
            {% if data['prevurl'] == "check-answers" %}
              <strong class="govuk-tag govuk-tag--green">
                Plan created
              </strong>
            {% else %}
              <strong class="govuk-tag govuk-tag--yellow">
                Due in 5 days
              </strong>
            {% endif %}
          </li>
          
          {% if data['prevurl'] == "check-answers" %}
          <li>
            Review due by {{ data["san-"+v+"-create-reviewdate"] }}
          </li>
          {% else %}
          <li>
            <img src="/public/images/icon-create.png" alt="">
            <!--a href="/{{ v }}/san/{{ prisoner.prisonerNumber }}/plan/create/person-who-met" class="govuk-link govuk-link--no-visited-state">Create education support plan</a-->
            <a href="javascript:preventDefault();" class="govuk-link govuk-link--no-visited-state">Create education support plan</a>
          </li>
          <li>
            <img src="/public/images/icon-stamp.png" alt="">
            <a href="javascript:preventDefault();" class="govuk-link govuk-link--no-visited-state">Record refusal of education support plan</a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="hmpps-actions-block govuk-!-margin-bottom-5 govuk-!-padding-bottom-3">
        <ul class="hmpps-actions-block__list">
          <li class="noflex">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Actions</h3>
          </li>
          <li class="noflex noborder profile-action-links govuk-!-margin-top-2">
            <a href="/{{ v }}/san/{{ prisoner.prisonerNumber }}/support/add/category" class="govuk-link govuk-link--no-visited-state">Add support strategy</a>
          </li>
          <li class="noflex noborder profile-action-links">
            <a href="/{{ v }}/san/{{ prisoner.prisonerNumber }}/challenges/add/category" class="govuk-link govuk-link--no-visited-state">Add challenge</a>
          </li>
          <li class="noflex noborder profile-action-links">
            <a href="/{{ v }}/san/{{ prisoner.prisonerNumber }}/strengths/add/category" class="govuk-link govuk-link--no-visited-state">Add strength</a>
          </li>
          <li class="noflex noborder profile-action-links">
            <a href="javascript:preventDefault();" class="govuk-link govuk-link--no-visited-state">Add condition</a>
          </li>
        </ul>
      </div>

    </div>
  </div>

</div>

{% endif %}
{% endfor %}

{% endblock %}
