{% extends "/layouts/v2.html" %}

{% set currentpage = "overview" %}

{% block beforeContent %}
  <div class="govuk-width-container ">

    <nav class="govuk-breadcrumbs govuk-!-display-none-print" aria-label="Breadcrumb">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/{{ v }}/">Digital Prison Services</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/{{ v }}/san/">Support for additional needs</a>
        </li>
      </ol>
    </nav>

  </div>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
  
    <!-- TITLE PAGE + print-->
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Chris Atkinson's support for additional needs</h1>
    </div>

    <div class="govuk-grid-column-full">

      {% if data['prevurl'] == "check-answers" %}
        {{ mojAlert({
          variant: "success",
          title: "Education suppport plan created",
          dismissible: false
        }) }}
      {% endif %}

      <!-- DPS MINI PROFILE -->
      <div class="govuk-!-margin-bottom-6">
        <div class="dps-mini-profile-header">
            <!--  <img class="app-prisoner-photo" src="/public/images/desmond-photo.jpg" alt="Prisoner image"> -->
            <dl>
              <dt class="govuk-heading-s govuk-!-margin-bottom-0">
                <a href="javascript:preventDefault();" class="govuk-link govuk-!-font-weight-bold">
                  Atkinson, Chris
                </a>
              </dt>
              <dd class="govuk-body">
                  G2911GD
              </dd>
            </dl>
            <dl>
              <dt class="govuk-heading-s govuk-!-margin-bottom-0">Entered this prison on</dt>
              <dd class="govuk-body">
                28 May 2024
              </dd>
            </dl>
            <dl>
              <dt class="govuk-heading-s govuk-!-margin-bottom-0">Release date</dt>
              <dd class="govuk-body">
                1 Jul 2025<br>
              </dd>
            </dl>
            <dl>
              <dt class="govuk-heading-s govuk-!-margin-bottom-0">DOB</dt>
              <dd class="govuk-body">
                10 Jun 1969
              </dd>
            </dl>
        </div>
      </div>
      

    </div>
  
  </div>
  <div class="govuk-grid-row">

    <!-- TABS SUB NAVIGATION -->
    <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-margin-right-0">
      <div class="govuk-grid-column-full govuk-!-margin-left-0">
        <nav class="moj-sub-navigation govuk-!-display-none-print" aria-label="Sub navigation">
          <ul class="moj-sub-navigation__list ">

            <li class="moj-sub-navigation__item">
              {% if currentpage == "overview" %}
                <a class="moj-sub-navigation__link" aria-current="page" href="/v2/san/profile/">Overview</a>
              {% else %}
                <a class="moj-sub-navigation__link" href="/v2/san/profile/">Overview</a>
              {% endif %}
            </li>
            <!--
            <li class="moj-sub-navigation__item">
              {% if currentpage == "additionalneeds" %}
              <a class="moj-sub-navigation__link" aria-current="page" href="#">Additional needs</a>
              {% else %}
              <a class="moj-sub-navigation__link" href="#">Additional needs</a>
              {% endif %}
            </li>

            <li class="moj-sub-navigation__item">
              {% if currentpage == "conditions" %}
                <a class="moj-sub-navigation__link" aria-current="page" href="#">Conditions</a>
              {% else %}
                <a class="moj-sub-navigation__link" href="#">Conditions</a>
              {% endif %}
            </li>

            <li class="moj-sub-navigation__item">
              {% if currentpage == "strengths" %}
                <a class="moj-sub-navigation__link" aria-current="page" href="#">Strengths</a>
              {% else %}
                <a class="moj-sub-navigation__link" href="#">Strengths</a>
              {% endif %}
            </li>
          -->
          {% if data['prevurl'] == "check-answers" %}
            <li class="moj-sub-navigation__item">
              {% if currentpage == "support-plan" %}
                <a class="moj-sub-navigation__link" aria-current="page" href="#">Education support plan</a>
              {% else %}
                <a class="moj-sub-navigation__link" href="#">Education support plan</a>
              {% endif %}
            </li>
          {% endif %}
            
          </ul>
        </nav>
      </div>
    </div>

  </div>



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- TABLE - Additional needs -->
      <section class="app-summary-card govuk-!-margin-bottom-6">
        <header class="app-summary-card__header">
          <h2 class="app-summary-card__title">
            Additional needs
          </h2>
          <div>
            <a class="govuk-link govuk-link--no-visited-state" href="javascript:preventDefault();">Add need</a>
          </div>
        </header>

        <div class="app-summary-card__body">

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Cognition and learning</dt>
              <dd class="govuk-summary-list__value">Reading, Writing</dd>
              <dd class="govuk-summary-list__actions"></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Communication and interaction</dt>
              <dd class="govuk-summary-list__value">Social interaction</dd>
              <dd class="govuk-summary-list__actions"></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Social and emotional</dt>
              <dd class="govuk-summary-list__value">Struggles with anxiety</dd>
              <dd class="govuk-summary-list__actions"></dd>
            </div>
          </dl>

        </div>
      </section>
      <!-- END TABLE - Additional needs -->

      <!-- TABLE - Conditions -->
      <section class="app-summary-card govuk-!-margin-bottom-6">
        <header class="app-summary-card__header">
          <h2 class="app-summary-card__title">
            Conditions
          </h2>
          <div>
            <a class="govuk-link govuk-link--no-visited-state" href="javascript:preventDefault();">Add condition</a>
          </div>
        </header>
        <div class="app-summary-card__body">
          <p class="govuk-body">No conditions declared</p>
        </div>
      </section>
      <!-- END TABLE - Conditions -->

      <!-- TABLE - Strengths -->
      <section class="app-summary-card govuk-!-margin-bottom-6">
        <header class="app-summary-card__header">
          <h2 class="app-summary-card__title">
            Strengths
          </h2>
          <div>
            <a class="govuk-link govuk-link--no-visited-state" href="javascript:preventDefault();">Add strength</a>
          </div>
        </header>
        <div class="app-summary-card__body">
          <p class="govuk-body">No strengths declared</p>
        </div>
      </section>
      <!-- END TABLE - Strengths -->

      <!-- TABLE - Curious screener -->
      <section class="app-summary-card govuk-!-margin-bottom-6">
        <header class="app-summary-card__header">
          <h2 class="app-summary-card__title">
            Screener and assessment results from Curious
          </h2>
          <!--div>
            <a class="govuk-link govuk-link--no-visited-state" href="javascript:preventDefault();">Add need</a>
          </div-->
        </header>

        <div class="app-summary-card__body">

          <p class="govuk-body govuk-hint">This is information from the education team entered in Curious and is not a medical diagnosis.</p>

          <h2 class="govuk-heading-m">Hull (HMP)</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-5">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Rapid screener from induction</dt>
              <dd class="govuk-summary-list__value">Not recorded in Curious</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">In-depth assessment by education </dt>
              <dd class="govuk-summary-list__value">Not recorded in Curious</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Primary area of need identified</dt>
              <dd class="govuk-summary-list__value">Speech, Language and communication  needs</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Other areas of need identified</dt>
              <dd class="govuk-summary-list__value">
                Dyslexia<br>
                Autism spectrum disorder
              </dd>
            </div>
          </dl>

          <h2 class="govuk-heading-m">Leeds (HMP)</h2>
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Rapid screener from induction</dt>
              <dd class="govuk-summary-list__value">3 December 2023</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">In-depth assessment by education </dt>
              <dd class="govuk-summary-list__value">3 December 2023</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Primary area of need identified</dt>
              <dd class="govuk-summary-list__value">Hearing impairment</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Other areas of need identified</dt>
              <dd class="govuk-summary-list__value">
                Disability affecting mobility<br>
                Social and emotional difficulties<br>
                Mental health difficulty
              </dd>
            </div>
          </dl>

        </div>
      </section>
      <!-- END TABLE - Curious screener -->

    </div>
    
    <div class="govuk-grid-column-one-third govuk-!-padding-left-5 govuk-!-margin-top-0">
      <div class=" hmpps-actions-block govuk-!-margin-bottom-5">
        <h2 class="govuk-heading-m">Actions</h2>
        <ul class="hmpps-actions-block__list">
          
          <li class="noflex">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Education support plan</h3>
            {% if data['prevurl'] == "check-answers" %}
              <strong class="govuk-tag govuk-tag--green">
                Plan created
              </strong>
            {% else %}
              <strong class="govuk-tag govuk-tag--yellow">
                Due in 5 days
              </strong>
            {% endif %}
          </li>

          {% if data['prevurl'] == "check-answers" %}
          <li>
            Review due by {{ data["san-"+v+"-create-reviewdate"] }}
          </li>
          {% else %}
          <li>
            <img src="/public/images/icon-create.png" alt="">
            <a href="/v2/san/plan/create/person-who-met" class="govuk-link govuk-link--no-visited-state">Create education support plan</a>
          </li>
          <li>
            <img src="/public/images/icon-stamp.png" alt="">
            <a href="javascript:preventDefault();" class="govuk-link govuk-link--no-visited-state">Record refusal of education support plan</a>
          </li>
          {% endif %}

        </ul>
      </div>
    </div>
  </div>

</div>

{% endblock %}
