{% extends "/layouts/v3.html" %}

{% block beforeContent %}
  <div class="govuk-width-container ">

    <nav class="govuk-breadcrumbs govuk-!-display-none-print" aria-label="Breadcrumb">
      <a href="javascript:history.go(-1);" class="govuk-back-link">Back</a>
    </nav>

  </div>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
  
    <div class="govuk-grid-column-three-quarters">
      <form method="post">
        <span class="govuk-caption-l">Add support strategy</span>

        {{ govukRadios({
          name: "san-"+v+"-"+ref+"-supportalt-category",
          fieldset: {
            legend: {
              text: "Select a category for this support recommendation",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Literacy skills",
              text: "Literacy skills",
              checked: checked("san-"+v+"-"+ref+"-supportalt-category","Literacy skills"),
              hint: {
                text: "Things like reading, writing and spelling"
              }
            },
            {
              value: "Numeracy skills",
              text: "Numeracy skills",
              checked: checked("san-"+v+"-"+ref+"-supportalt-category","Numeracy skills"),
              hint: {
                text: "Things like maths and managing money"
              }
            },
            {
              value: "Attention, organising and time management",
              text: "Attention, organising and time management",
              checked: checked("san-"+v+"-"+ref+"-supportalt-category","Attention, organising and time management"),
              hint: {
                text: "Things like planning, task management, tidiness and focus"
              }
            },
            {
              value: "Memory",
              text: "Memory",
              checked: checked("san-"+v+"-"+ref+"-supportalt-category","Memory"),
              hint: {
                text: "Things like remembering and recalling information "
              }
            },
            {
              value: "Processing speed",
              text: "Processing speed",
              checked: checked("san-"+v+"-"+ref+"-supportalt-category","Processing speed"),
              hint: {
                text: "Things like taking time to understand and follow instructions"
              }
            },
            {
              value: "Language and communication skills",
              text: "Language and communication skills",
              checked: checked("san-"+v+"-"+ref+"-supportalt-category","Language and communication skills"),
              hint: {
                text: "Things like taking turns, listening and language fluency"
              }
            },
            {
              value: "Emotions and feelings",
              text: "Emotions and feelings",
              checked: checked("san-"+v+"-"+ref+"-supportalt-category","Emotions and feelings"),
              hint: {
                text: "Things like confidence, empathy, managing emotions and impulses"
              }
            },
            {
              value: "Physical skills and coordination",
              text: "Physical skills and coordination",
              checked: checked("san-"+v+"-"+ref+"-supportalt-category","Physical skills and coordination"),
              hint: {
                text: "Things like learning new skills, co-ordination, stamina and fine motor skills"
              }
            },
            {
              value: "Sensory",
              text: "Sensory",
              checked: checked("san-"+v+"-"+ref+"-supportalt-category","Sensory"),
              hint: {
                text: "Things like reacting to some environments or situations eg noise or being touched"
              }
            },
            {
              divider: "or"
            },
            {
              value: "General support need",
              text: "General support need",
              checked: checked("san-"+v+"-"+ref+"-supportalt-category","General support need")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      
      </form>
    </div>
  </div>
</div>

{% endblock %}
